@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

footer {
    background: url('https://i.ibb.co/j3DGRhm/footer-bg.jpg') top center no-repeat;
    background-size: cover;
    padding-bottom: 2rem;
    text-align: center;
    padding: 5% 0 2% 0%;
}

#footercontainer{
    max-width: 39%;
    margin: 0 auto;
}

#logofooter img {
    width: 200px;
    filter: drop-shadow(2px 1px 2px black);
    margin-bottom: 3%;
}

/*  */
ul#FooterNav {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-evenly;
}

li.footerList {
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5px;
    word-spacing: 2px;

}  

#FooterNav.footerList a{
    color: lightgray;
    width: 50%;
    
}
/*  */

div#Contact2 {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

/*  */
#Contact {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
#Contact i {
    width: 2%;
    margin: 20px 8  px 10px 8px;
    color: lightgray;
    filter: drop-shadow(2px 4px 8px black);
}

#Contact a{
    margin: 0 4%;
}
#smallimg {
    margin: 5% 0;
}
#copyrights {
    color: #fff;
    opacity: 0.8;
    font-size: 12px;
    word-spacing: 2px;
    margin: 0 0.5rem;
    letter-spacing: 0.5px;
}

