*{
    box-sizing: border-box;
}

.navlist{
    
    margin: 0 2.5rem;
    color: white;
    margin-top: 0.8rem;


}
ul li{
    display:flex;
    text-align: center;

    
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 8rem;
    
}
header{

    height:8rem;
    text-align: center;

}
#logo{
    border: solid 0.2rem  white;
    padding: 1.2rem 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 2.5rem;
    margin-top: 1rem;
    color: white;
}
#background{
    
    background-size: cover;
    background-image:url('../Image/Homepagebackground.jpg');
    height: 1000px;

}

#backgroundcolor{
    background-color: grey;
    height:8rem;
    opacity:0.75;
    position: relative;
}
header nav{
    position: absolute;
    top: -1rem;

    margin:0 2%;
    width: 100%;
}