@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');


*{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

header {
    position: absolute;
    top: 0px;
    z-index: 7;
    display: grid;
    width: 100%;
    height: 90px;
    background-color: rgb(0 0 0 / 70%);
    box-shadow: 0px 1px 9px 2px rgb(54 121 165);
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: inherit;
    
}
a{
    text-decoration: none;
    color: lightgray;
}



ul#leftUL {
    display: flex;
    margin: 0 0;
    padding: 0 0;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    flex-direction: row;
    height: inherit;
}


ul#rightUL {
    display: flex;
    margin: 0 0;
    padding: 0 0;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    flex-direction: row;
    height: inherit;
}




nav #logoimg {
    width: 264px;
    filter: drop-shadow(1px 3px 3px black);
}

li.navlist {
    list-style: none;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    color: lightgray;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li.navlist:hover{
    background: linear-gradient(to bottom, #26b0cc 0%,#26b0cc 0%,#134a63 0%,#134a63 0%,#207cca 100%,#207cca 100%,#7db9e8 100%);
    border-right: solid rgba(54, 121, 165, 0.62);
    border-left: solid rgba(54, 121, 165, 0.62);
}
main{
    background-color: #eeeded;
}


div#hero {
    background-image: url(../Image/wallpaperflare.com_wallpaper\(8\).jpg);
    background-size: cover;
    height: 58rem;
    width: 100%;
    filter: brightness(0.8);
    z-index: -1;
    background-repeat: no-repeat;
}

div#heroP {
    position: absolute;
    font-size: xx-large;
    width: 34%;
    top: 41%;
    left: 6%;
    color: white;
}


/* editing the second section (images + icons + text) */
#secTwo{
    background: #e4e4e4;
}


div#boxesContainer {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}

div.box {
    width: 361px;
    height: 616px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img\+icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 496px;
    justify-content: flex-start;
    margin: 35px 0;
}

.img-container {
    position: relative;
}





div.icon-container img {
    width: 102px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    margin: 0 0;
}

/* styling Section Three */

section#secThree{
    padding: 6rem 0;
    font-family: 'Roboto', 'Helvetica', 'Sans-serif';
    background-color: #212122;
    text-align: center;
    line-height: 1.7;
    font-size: 1rem;
}
div#sec3Title{
    font-size: 2.85rem;
    letter-spacing: 7px;
    color: white;
    margin-bottom: 4rem;
    padding: 0;
    font-weight: 500;
}
div#sec3container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width: 58%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 4rem;
}
.part {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.part img{
    height: 65px;
    margin-bottom: 2rem;
}
.part h1{
    margin: 0;
    padding: 0;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.15rem;
    color: white;
}
.part p{
    color: #7b7b7b;
    line-height: 2;
    font-size: 0.95rem;
    
}
#secThree #subbtn{
    cursor: pointer;
    background: #233EDE;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    padding: 1.25rem 3rem;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
} 


   /*  */



/* styling Section Four */

section#secFour {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

div#sec4img {
    width: 100%;
    display: flex;
}

#sec4img img {
    width: inherit;
}

div#sec4paragraphs {
    position: absolute;
    color: aliceblue;
    width: 60%;
    font-size: x-large;
}



/*  */



div#containers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 9% 0;
}

.container {
position: relative;
width: 25%;
}

.image {
display: block;
width: 100%;
height: auto;
}

#firstimg{
    width: 23.3%;
}

.overlay {
position: absolute;
bottom: 100%;
left: 0;
right: 0;
background-color: #00253eb5;
overflow: hidden;
width: 100%;
height: 0;
transition: .5s ease;
}

.container:hover .overlay {
bottom: 0;
height: 100%;
}

.container:hover .image{
    filter: grayscale(1);
}

.endtext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.icon-container {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0.5rem;
}

div.img-container img {
    max-width: 35%;
}