@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
#background {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
#p1 {
  color: white;
  font-family: Yomogi, cursive;
  font-size: 10rem;
  margin: 0 0;
  width: fit-content;
  font-weight: 600;
  text-shadow: 2px 5px #646464;
    
}


  #part1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0 0;
    
  }

  .cards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    z-index: 5;
    margin: 3% 0;
    text-align: center;
    color: whitesmoke;

  }
  
  .card {
    padding-top: 10em;
    max-width: 400px;
    position: relative;
    transition: transform 200ms;
    transition: 200ms;
    min-width:30%;
    height: 100%;
  }
  .card:before, .card:after {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    z-index: -1;
  }
  .card:before {
    transition: transform 300ms;
    background-image: var(--img);
  }
  .card:after {
    background-color: cadetblue;
    opacity: 0;
    mix-blend-mode: multiply;
    transition: opacity 300ms;
  }
  
  .card-content {
    overflow: hidden;
    padding: 1em 1em;
  }
  
  .card-title {
    padding-bottom: 0.3em;
    text-transform: capitalize;
    font-size: 1.6em;
    font-weight: bold;
  }
  
  .card-text::first-letter {
    font-size: 1.8em;
    color: yellow;
  }
  
  .card-title,
  .card-text {
    transform: translateY(100px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 300ms;
  }
  
  .card-title {
    transition-delay: 200ms;
  }
  
  .cards:hover .card {
    filter: grayscale(1);
  }
  .card:hover h1{
    color: cornsilk;
  }
  .card:hover {
    filter: blur(0) !important;
    
  }
  .card:hover ~ .card {
    --y: 10%;
    transform: translateX(10%) translateY(10%) scale(0.9);
  }
  .card:hover:after {
    opacity: 1;
  }
  .card:hover:before {
    transform: scale(1.1);
  }
  .card:hover .card-text,
  .card:hover .card-title {
    opacity: 1;
    transform: none;
  }
  .card:hover .card-title {
    transition-delay: 0;
  }
  .card:hover .card-text {
    transition-delay: 400ms;
  }
  h1{
    text-align: center;
    margin-left: 8.5rem;
    font-size: 4rem;
    margin-top: 5.5rem;
    font-family: 'Yomogi', cursive;
    color: black;
  }


  div#img {
    width: 100%;
}

#img img {
  width: 100%;
}

div#dietPlan {
  width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 95px;
}

main{
  background-image: url("https://i.ibb.co/8zs6YjX/pink-gradient-blue-linear-1920x1080-c2-ffb6c1-87ceeb-a-165-f-14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}