/* Dropdown Button */
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@600&display=swap');
main {
  font-family: 'Laila', sans-serif;
}
  #backgroundimg1 {
    background-image: url(https://ufcgymweb.azureedge.net/ufcgym-web/locations/honolulu/Carousel_03_Retail.jpg);
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-size: cover;
    position: fixed;
    z-index: -1;

}

.dropbtn {
    background-image: url(/Image/phoca-cart-r.svg);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: static;

  }
  
  div#myDropdown {
    overflow: scroll;
    height: 500px;
}

  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  button img {
    width: 25px;
}
/*  */


h2 ,h3{
    margin-top: 110px;
    margin-left: 2.5%;
}
#first {
  display: inline-flex;
  text-align: center;
  background-color: #000000c9;
  width: 100%;
  margin-top: 35%;
 
}
#first div{
    margin: 4rem;
}
#first img{
    width: 200px; 
}
#second {
  display: inline-flex;
  padding: 20px;
  text-align: center;
  background-color: #000000c9;
  width: 100%;
}
#second div{
    margin: 4rem;
}
#second img{
    width: 200px;
}
#third{
    clear: both;
}
#third img{
    width: 100%;
    height: 400px;
}
main {
  text-align: center;
}
section .items {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    text-align: center;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.price {
  color: grey;
  font-size: 22px;
}
.items button{
border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(43 122 178);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.items button:hover {
  opacity: 0.7;
}
.name {
  font-size: 18px;
}
#imgsize{
  height: 220px;
}
button#treadmillbtn {
  margin-top: 8.5%;
}
button#shakerbottlebtn {
  margin-top: 13.1%;
}
/* button#gymbagbtn {
  margin-top: 82%;
} */
button#weightbenchbtn {
  margin-top: 3.5%;
}
img#gymbagimg {
  padding: 63px 0 65px 0;
}
h2 ,h3{
  text-align: left;
}
img#shakerbottleimg {
  margin-top: 18%;
}
button#indoorbikebtn {
  margin-top: 8.5%;
}
button#proteinpowderbtn {
  margin-top: 13%;
}
p{
  margin-top: 25%;
  margin-bottom:25% ;
}
button#powertowerbtn{
  margin-top: 2.5%;
}
#veganbrain{
  margin-top: 18.3%;
}

img.src {
  height: 100%;
}

